---
layout: layouts/base.njk
---

<body>
	<a href="#skip" class="visually-hidden">Skip to main content</a>

	{% include "components/header.njk" %}

	<main id="skip">
		<heading-anchors>
			{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
			{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
			{%- css %}{% include "src/public/css/prism-diff.css" %}{%- endcss %}
			<h1>{{ title }}</h1>

			{% if image.image_src %}
				<figure class="post-feature-image">
					<img src="{{ image.image_src }}" alt="{{ title }}">
					{% if image.image_attribute %}
						<figcaption>{{ image.image_attribute | safe }}</figcaption>
					{% endif %}
				</figure>
			{% endif %}

			<ul class="post-metadata">
				<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
				{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
				{%- endfor %}
			</ul>

			{{ content | safe }}

      <ul class="repel">
        <li class="rapel-left"></li>
        <li class="rapel-right">
          {% include "components/share.njk" %}
        </li>
      </ul>

			{%- if collections.posts %}
			{%- set previousPost = collections.posts | getPreviousCollectionItem %}
			{%- set nextPost = collections.posts | getNextCollectionItem %}
			{%- if nextPost or previousPost %}
			<ul class="repel">
				<li class="repel-left">{%- if previousPost %}← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</li>
				<li class="repel-right">{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</li>
			</ul>
			{%- endif %}
			{%- endif %}
		</heading-anchors>
	</main>

	{% include "components/footer.njk" %}

</body>
