---
layout: layouts/default.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% from "partials/card.njk" import card %}

<section class="post-feed">
    {% for post in collections.posts %}
        {% if 'draft' not in post.data.tags %}
            {{ card(post) }}
        {% endif %}
    {% endfor %}
</section>
