---
permalink: '.well-known/webfinger'
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
dynamicPermalink: false
---
{
    "subject": "acct:ucodery@fosstodon.org",
    "aliases": [
        "https://fosstodon.org/@ucodery",
        "https://fosstodon.org/users/ucodery"
    ],
    "links": [
        {
            "rel": "http://webfinger.net/rel/profile-page",
            "type": "text/html",
            "href": "https://fosstodon.org/@ucodery"
        },
        {
            "rel": "self",
            "type": "application/activity+json",
            "href": "https://fosstodon.org/users/ucodery"
        },
        {
            "rel": "http://ostatus.org/schema/1.0/subscribe",
            "template": "https://techhub.social/authorization_interaction?uri={uri}"
        }
    ]
}
