{% macro card(post) %}
    <a class="post-card" href="{{ post.url }}">
        <header class="post-card-header">
            {% if post.data.feature_image %}
                <img class="post-card-image" src="{{ post.data.feature_image }}" alt="{{ post.data.title }}">
            {% endif %}
            <div class="post-card-tags">
                {% if post.data.tags %}{% for tag in post.data.tags %}{{ tag.name }} {% endfor %}{% endif %}
            </div>
            <h2 class="post-card-title">
                {{ post.data.title }}
            </h2>
        </header>
        <div class="post-card-excerpt">
            <p>{{ post.data.description }}</p>
        </div>
        <footer class="post-card-footer">
            <div class="post-card-footer-left">
                <span>{{ post.date | relativeDayString }}</span>
            </div>
            <div class="post-card-footer-right">
                <div>{{ post.html | safe | getReadingTime }} min read</div>
            </div>
        </footer>
    </a>
{% endmacro %}
